<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="./logo.png" />
  <title>Lurking Feast</title>
  <link rel="manifest" href="./app.webmanifest" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>

<body>
  <a class="skip-to-content" href="#">Skip to content</a>
  <header>
    <nav class="navbar container">
      <a href="#/" class="navbar-brand" index="0">
        <img src="./logo.png" alt="Lurker Logo" class="navbar-logo" />
        <h1 class="navbar-title" index="0">Lurker Feast</h1>
      </a>
      <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapsible">
        <div class="navbar-links">
          <a href="/" class="navbar-link">Home</a>
          <a href="#/favorite" class="navbar-link">Favorite</a>
          <a href="https://www.linkedin.com/in/rrdentin/" target="_blank" class="navbar-link">About Us</a>
          <a href="#/contact-us" class="navbar-link">Contact Us</a>

        </div>
        <button class="close-button">&times;</button>
      </div>
      <div class="overlay"></div>
    </nav>
  </header>
  <main></main>
  <button id="scrollToTopBtn" class="scroll-to-top" aria-label="Scroll to top">
    ↑
  </button>
  <footer tabindex="0">
    <p>2024 &copy; Lurker Feast</p>
  </footer>
</body>

</html>